{% extends "base.html" %}
{% load static %}

{% block content %}

<hr>
<div class="container">
    <div class="jumbotron bg-body">
    <hr>
    <div class="jumbotron bg-info"><h1 class="text-center">GAMES LIST</h1></div>
    <hr>
    {% if juego_list %}
    <ul>

      {% for juego in juego_list %}
      <div class="card-columns">
        <div class="card-title"><h4><a href="{{ juego.get_absolute_url }}" style="text-decoration: none; color: black;"><h4 class="text-center">{{juego.titulo}}</h4></a></h4></div>
      </div>
      
      <div class="row mb-5">
        <div class="col-lg-4 rounded bg-warning "> <!--sección con la imágen del juego-->
          <div class="card-img"><a href="{{ juego.get_absolute_url }}"><img src="{% static 'img/no.png' %}" height="200" class="card-img-top"></a></div>
        </div>

        <div class="col-lg-8 "> <!--sección con la descripción del juego-->
          <div>
            <p>Descripción:</p>
            <p> {{juego.descripcion}} </p>
          </div>
        </div>
      </div>
      
      {% endfor %}
      
    </ul>
       
    {% else %}
      <p>There are no games in the library.</p>
    {% endif %}   

  </div>
</div>
{% endblock %}
